.button {
  display: block;
  font-size: 1rem;
  background: transparent;
  border: 1px solid;
  padding: 0.75rem 1rem;
  margin: auto;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.button:focus,
.button:active {
  border: 1px solid #000;
  outline: 1px solid #000;
}

.button:hover {
  border: 1px solid #000;
  background-color: #e76c67;
  color: white;
}
